:root {
  --gwds__pre-title-margin-bottom: 0;
  --gwds__main-title-margin-bottom: var(--gwds__space--s);
  --gwds__description-margin-top: var(--gwds__space--s);
  --gwds__description-margin-bottom: var(--gwds__space--m);
  --gwds__buttons-spacing: var(--gwds__space--s);
  --gwds__buttons-container-margin-top: var(--gwds__space--m);
  --gwds__section-padding: var(--gwds__space--l);
  --gwds__section-padding--lg: var(--gwds__space--xl);
  --gwds__tag-spacing: var(--gwds__space--s);
  --gwds__border-color: var(--gwds__color--black);
}
